@import "./../../global.scss";
.topbar {
  width: 100%;
  height: 70px;
  background-color: white;
  color: $secondaryColor;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all 1s ease;

  .wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;

      .logo {
        font-size: 2rem;
        font-weight: 700;
        text-decoration: none;
        color: inherit;
        text-transform: capitalize;
        margin-right: 3rem;
      }
      .itemcontainer {
        display: flex;
        align-items: center;
        margin-left: 2.5rem;
        @include mobile {
          display: none;
        }
        .icon {
          font-size: 1.5rem;
          margin-right: 5px;
        }
        span {
          font-size: 1rem;
          font-weight: 500;
        }
      }
    }
    .right {
      .humburger {
        width: 30px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        span {
          width: 100%;
          height: 3px;
          background-color: $secondaryColor;
          transform-origin: left;
          transition: all 2s ease;
        }
        // .line2 {
        //   width: 22px;
        //   marign-right: -1rem;
        // }
      }
    }
  }
  &.active {
    background: $secondaryColor;
    color: #fff;
    .humburger {
      span {
        &:nth-child(1) {
          background: #fff;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          // background: #fff;
          opacity: 0;
        }
        &:nth-child(3) {
          background: #fff;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
